Inside Project OnBoarding
<br />
 <!--[autoGroupColumnDef]="autoGroupColumnDef"-->
<ag-grid-angular #agGrid
                 style="width: 100%; height: 100%;"
                 id="myGrid"
                 class="ag-theme-alpine"
                 [columnDefs]="columnDefs"
                 [defaultColDef]="defaultColDef"
                 [suppressRowClickSelection]="true"
                 [groupSelectsChildren]="true"
                 [debug]="true"
                 [rowSelection]="rowSelection"
                 [rowGroupPanelShow]="rowGroupPanelShow"
                 [pivotPanelShow]="pivotPanelShow"
                 [enableRangeSelection]="true"
                 [pagination]="true"
                 [paginationPageSize]="paginationPageSize"
                 [paginationNumberFormatter]="paginationNumberFormatter"
                 [rowData]="rowData"
                 [suppressRowTransform]="true"
                 [frameworkComponents]="frameworkComponents"
                 (paginationChanged)="onPaginationChanged($event)"
                 
                 (sortChanged)="onSortChanged($event)"
                 (gridReady)="onGridReady($event)"></ag-grid-angular>
