<div>
  <div style="width:25%;float:left">
    Group Type:*
  </div>
  <div style="width:25%;float:left">
    <select><option></option></select>
  </div>
  <div style="width:25%;float:left">

  </div>
  <div style="width:25%;float:left">

  </div>
</div>

<br />
<br />
<div>
  <div style="width:25%;float:left">
    <input type="radio" name="group" value="agile" /> Agile
    <input type="radio" name="group" value="hybrid" /> Hybrid(Agile & Non-Agile)
  </div>
  <div style="width:25%;float:left">

  </div>
  <div style="width:25%;float:left">

  </div>
  <div style="width:25%;float:left">

  </div>
</div>

<br />
<br />
<div>
  <div style="width:25%;float:left">
    Name:
  </div>
  <div style="width:25%;float:left">
    <input type="text" />
  </div>
  <div style="width:25%;float:left">
    Description:
  </div>
  <div style="width:25%;float:left">
    <input type="text" />
  </div>
</div>

<br />
<br />
<div>
  <div style="width:25%;float:left">
    Tenant:
  </div>
  <div style="width:25%;float:left">
    <input type="text" />
  </div>
  <div style="width:25%;float:left">
    Spoc:
  </div>
  <div style="width:25%;float:left">
    <input type="text" />
  </div>
</div>

<div style="clear:both"></div>

<hr />
<div>
  <div style="float:left;width:5%;">

  </div>
  <div style="float:left;width:20%;padding-left:5%">
    <button class="btn">Cancel</button>
  </div>
  <div style="width:40px"></div>
  <div style="float:left;width:20%;padding-left:5%">
    <button class="btn">Reset </button>
  </div>
  <div style="width:40px"></div>
  <div style="float:left;width:20%;padding-left:5%">
    <button class="btn">Delete </button>

  </div>
  <div style="width:40px"></div>
  <div style="float:left;width:20%;padding-left:5%">
    <button class="btn">Submit</button>

  </div>
  <div style="float:left;width:5%;">

  </div>
</div>
