
<button id="openUser"><i class="icon icon-plus"></i> Add Users</button> 

<ag-grid-angular #agGrid
                 style="width: 100%; height: 100%;"
                 id="myGrid"
                 class="ag-theme-alpine"
                 [columnDefs]="columnDefs"
                 [defaultColDef]="defaultColDef"
                 [suppressRowClickSelection]="true"
                 [groupSelectsChildren]="true"
                 [debug]="true"
                 [rowSelection]="rowSelection"
                 [rowGroupPanelShow]="rowGroupPanelShow"
                 [pivotPanelShow]="pivotPanelShow"
                 [enableRangeSelection]="true"
                 [pagination]="true"
                 [paginationPageSize]="paginationPageSize"
                 [paginationNumberFormatter]="paginationNumberFormatter"
                 [rowData]="rowData"
                 [suppressRowTransform]="true"
                 [frameworkComponents]="frameworkComponents"
                 (paginationChanged)="onPaginationChanged($event)"
                 (sortChanged)="onSortChanged($event)"
                 (gridReady)="onGridReady($event)"></ag-grid-angular>

<btn-dialog class="dialog" id="openUser" data-trigger="#openUser" data-type="simple">
  <div title> Add User</div>
  <div body>

    <div class="row" style="margin-left:30px">
      <div class="column lg-1">
        <label id="51" class="" title="Mandatory: Select Country that is applicable for the new Onboarding Project">User:*</label>
      </div>

      <div class="column lg-3">
        <div class="multi-select">
          <input id="newonboardingbox:projectcode" name="newonboardingbox:projectcode" type="text" maxlength="6" title="Mandatory: Enter a six digit Project Code(alpha numeric) that is applicable for the new Onboarding Project">

        </div>
      </div>

      <div class="column lg-1">
        <label id="54" title="Mandatory: Enter a three digit Operator Code(alpha numeric) that is applicable for the new Onboarding Project">Signum:*</label>

      </div>

      <div class="column lg-3">
        <input id="newonboardingbox:operatorcode" name="newonboardingbox:operatorcode" type="text" class="multi-select" class="margin-left-30" aria-required="true" maxlength="3" title="Mandatory: Enter a three digit Operator Code(alpha numeric) that is applicable for the new Onboarding Project" onkeyup="PrimeFaces.ab({s:&quot;newonboardingbox:operatorcode&quot;,e:&quot;keyup&quot;,f:&quot;newonboardingbox&quot;,p:&quot;newonboardingbox:operatorcode&quot;,u:&quot;newonboardingbox:projectName newonboardingbox:contextmsg&quot;});" onblur="PrimeFaces.ab({s:&quot;newonboardingbox:operatorcode&quot;,e:&quot;blur&quot;,f:&quot;newonboardingbox&quot;,p:&quot;newonboardingbox:operatorcode&quot;,u:&quot;newonboardingbox:projectName newonboardingbox:contextmsg&quot;});" role="textbox" aria-disabled="false" aria-readonly="false">
      </div>

      <div class="column lg-1">
        <label id="56" style="white-space: nowrap;" title="Mandatory: Enter a six digit Project Code(alpha numeric) that is applicable for the new Onboarding Project">Email:*</label>
      </div>

      <div class="column lg-3">
        <input id="newonboardingbox:projectcode" name="newonboardingbox:projectcode" type="text" class="multi-select" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" aria-required="true" maxlength="6" title="Mandatory: Enter a six digit Project Code(alpha numeric) that is applicable for the new Onboarding Project" onkeyup="PrimeFaces.ab({s:&quot;newonboardingbox:projectcode&quot;,e:&quot;keyup&quot;,f:&quot;newonboardingbox&quot;,p:&quot;newonboardingbox:projectcode&quot;,u:&quot;newonboardingbox:projectName newonboardingbox:contextmsg&quot;});" onblur="PrimeFaces.ab({s:&quot;newonboardingbox:projectcode&quot;,e:&quot;blur&quot;,f:&quot;newonboardingbox&quot;,p:&quot;newonboardingbox:projectcode&quot;,u:&quot;newonboardingbox:projectName newonboardingbox:contextmsg&quot;});" role="textbox" aria-disabled="false" aria-readonly="false">

      </div>



    </div>

    <div class="row" style="margin-left:30px">

      <div class="column">
        <dual-list [source]="source" [(destination)]="target" [filter]="true"></dual-list>
      </div>
    </div>
  </div>

  <div bottom>
    <button class="btn ghost" data-close="true">Cancel</button>
    <button class="btn primary">Submit</button>
  </div>
</btn-dialog>
